@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: url(../public/umberella.jpeg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
#con{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 300px; 
  flex-direction: column;
}
#con input {
  width: 100%; /* Make the input take the full width of its container */
  padding: 10px; /* Padding inside the input */
  margin-bottom: 15px; /* Spacing between the input and other elements */
  border: 1px solid #ddd; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in the input's total width */
}
#con button {
  background-color: #4caf50; /* Green background color */
  /* White text color */
  padding: 10px 20px; /* Padding around the text */
  font-size: 16px; /* Font size */
  border: 1; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; 
  /* Cursor on hover */
 

}

#con button:hover {
  background-color: gray; /* Darker green on hover */
}
#con .button-container {
  display: flex;
  justify-content: center;
}
